body {
    font-family: 'Acme';font-size: 22px;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
.section p {
  line-height: 1.8;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
.wave-container {
  background-color: #F74F83;
  color:#fff;
}
.section {
 padding-top: 4%;
 padding-bottom: 4%;
 color: white!important;
}
.section-title h2 {
 font-size: 60px;
 font-weight: 600;
 line-height: 1.2;
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
	  height: 40px;
	  min-height: 40px;
	}
	.content {
	  height: 30vh;
	}
	h1 {
	  font-size: 24px;
	}
}
.alert {
 margin-bottom: 0;
}